@font-face {
    font-family: regular;
    src: url(/fonts/MavenPro-Regular.ttf)
}
@font-face {
    font-family: medium;
    src: url(/fonts/MavenPro-Medium.ttf)
}
@font-face {
    font-family: bold;
    src: url(/fonts/MavenPro-Bold.ttf)
}
body {
    padding: 5%;
    box-sizing: border-box;
    background-color: #fff;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    background-attachment: fixed;
}
.logo {
    text-align: center;
}
    .logo img {
        width: 40%;
    }
    .menu {
        width: 100%;
        display: flex;
        background-color: #CD9933;
        border-radius: 40px;
        padding: 25px 0px;
        position: fixed;
        bottom: 0;
        overflow: hidden;
        margin-bottom: 5%;
        width: 86%;
    }
        .menu .menu-item {
            width: 50%;
            text-align: center;
            font-family: bold;
        }
            .menu .menu-item a {
                text-decoration: none;
                color: #fff;
            }
            .title {
                text-align: center;
                font-family: 'bold';
                font-size: 24px;
                color: #333333;
                margin: 40px 0;
            }
#factures .factura {
    display: flex;
    flex-direction: column;
    background-color: #d1d1d1;
    font-family: 'medium';
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}
    #factures .factura .pdf-factura {
        background-color: #D11516;
        color: #fff;
        text-decoration: none;
        text-align: center;
        border-radius: 8px;
        padding: 20px;
        font-size: 20px;
        font-family: 'bold';
    }
    #factures .factura span {
        color: #000;
    }
        #factures .factura .pdf-factura:hover {
            background-color: #000;
            transition: all .4s ease;
            color: #fff;
        }

#factures{
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    animation: 2s ease 0s normal forwards 1 fadein;
}
        
@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
        
@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
