@font-face {
    font-family: regular;
    src: url(/fonts/MavenPro-Regular.ttf)
}
@font-face {
    font-family: medium;
    src: url(/fonts/MavenPro-Medium.ttf)
}
@font-face {
    font-family: bold;
    src: url(/fonts/MavenPro-Bold.ttf)
}
body {
    padding: 5%;
    box-sizing: border-box;
    padding-bottom: 20%;
}
.logo {
    text-align: center;
}
    .logo img {
        width: 40%;
    }
.menu {
    width: 100%;
    display: flex;
    background-color: #CD9933;
    border-radius: 40px;
    padding: 25px 0px;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    margin-bottom: 5%;
    width: 86%;
}
    .menu .menu-item {
        width: 50%;
        text-align: center;
        font-family: bold;
    }
        .menu .menu-item a {
            text-decoration: none;
            color: #fff;
        }
.title {
    text-align: center;
    font-family: 'bold';
    font-size: 24px;
    color: #333333;
    margin: 40px 0;
}
.vehicle {
    display: flex;
    flex-direction: column;
    background-color: #d1d1d1;
    font-family: 'bold';
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}
.vehicle img {
    border-radius: 10px;
    margin-bottom: 20px;
}

.vehicle .matricula {
    background-image: url(../img/matricula.png);
    background-size: 165px;
    background-repeat: no-repeat;
    padding: 2px 0px 0px 35px;
    height: 35px;
    font-size: 25px;
    margin-top: 20px;
}
.vehicle .etiqueta {
    width: 50px;
    position: absolute;
    padding: 10px;
}

#vehicles{
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    animation: 2s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}